.unordered {
  list-style-type: square;
  line-height: 170%;
} 

.nested-ul {
  list-style-type: circle; 
}
.unordered {
background: #AF0CGF;
padding: 20px;
width: 30%;
font-family: Arial, Helvetica, sans-serif;
}

.unordered li {
background: #D288FF;
margin: 5px;
}

.nested-ul li {
background: #EECCFF;
margin: 5px;
}
.ordered {
background: #FD8B00;
padding: 20px;
width: 20%;
font-family: 'Brush Script MT', cursive;
font-size: 1.3em;
}

.ordered li {
background: #FFCF45;
padding: 5px;
margin-left: 20px;
}

.custom-box-list {
margin: 0;
padding: 0;
list-style-type: none;

}
.custom-box-list li {
counter-increment: step-counter;
margin-bottom: 10px;
}

.custom-box-list li::before {
content: counter(step-counter);
margin-right: 5px;
font-size: 80%;
background-color: rgb(0, 200, 200);
color: white;
font-weight: bold;
padding: 3px 8px;
border-radius: 3px;

}
